<ion-view title="Crear nuevo usuario" ng-controller="UserCtrl"> 

<ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar> 

<ion-content>

<div class="list">

	<form name="createUserForm" novalidate="" ng-submit="createUser()">
		<label class="form-group item item-input item-stacked-label">
			<span class="input-label">Nombre</span>
			<input type="text" placeholder="John" ng-model="fdataCreateUser.name"
				required>
		</label>
		<label class="form-group item item-input item-stacked-label">
			<span class="input-label">E-mail</span>
			<input type="email" name="email" placeholder="john@suhr.com" ng-model="fdataCreateUser.email" unique-email="email" required>
		</label>
		<label class="form-group item item-input item-stacked-label">
			<span class="input-label">Password</span>
			<input type="password" placeholder="john@suhr.com" ng-model="fdataCreateUser.password" required>
		</label>
		<label class="form-group item item-input item-stacked-label">
			<span class="input-label">Repetir password</span>
			<input type="password" placeholder="john@suhr.com" ng-model="fdataCreateUser.passwordRepeat" required>
		</label>
	
		<button type="submit" class="button button-block button-positive">
			Crear usuario
		</button>
		<button class="button button-block button-assertive" ui-sref="login">
			Cancelar
		</button>
		
	</form>	
</div>

</ion-content> 
</ion-view>