<ion-view title="Login" ng-controller="UserCtrl" cache-view="false">
<ion-header-bar class="bar bar-header bar-dark">
	<h1 class="title">ShareTool</h1>
</ion-header-bar> 
<ion-content>

<div class="row">
  <div class="col icon-page-title"><i class="ion-ios-locked"></i></div>
</div>


<form name="loginUserForm" novalidate="" ng-submit="loginUser()">
	<div class="list">
		<label class="item item-input item-stacked-label">
			<input type="email" placeholder="Correo electronico"
				ng-model="fdataLoginUser.email" required>
		</label>
		<label class="item item-input item-stacked-label">
			<input type="password" placeholder="Clave de acceso"
				ng-model="fdataLoginUser.password" required>
		</label>
	</div>

	<div class="padding-horizontal">
		<button type="submit" class="button button-block button-balanced">
			Iniciar sesion
		</button>
		<button class="button button-block button-calm" ui-sref="createUser">
			Crear nuevo usuario
		</button>
	</div>
</form>
</ion-content> 
</ion-view>