<ion-view title="Herramientas" ng-controller="ToolCtrl" ng-init="listUpdate()" cache-view="false" can-swipe-back="false"> 
<ion-nav-bar class="bar bar-dark">
	<ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-search"
			ng-click="showFilterBar()"></button>
		<button class="button button-icon ion-ios-gear" ui-sref="filterTool">
		</button>
	</ion-nav-buttons>
</ion-nav-bar>
<ion-content>
	<ion-refresher pulling-text="Arrastra para refrescar..." on-refresh="listUpdate()">
	</ion-refresher>
	<ion-list can-swipe="true">
		<ion-item ng-repeat="tool in toolList" class="item-thumbnail-left item-text-wrap" ui-sref="toolDetail({toolId: tool.id})"> 
			<img ng-src="http://lorempixel.com/200/200?id={{tool.id}}">
			
			
			<div class="row no-padding">	
				<div class="col col-75 no-padding">
					<h2>{{tool.name}}</h2>
					<p class="stable no-padding" ng-show="locationEnabled && tool.distance != null"><i class="icon ion-navigate"></i> {{tool.distance}} km</p>
					<p class="stable no-padding" ng-show="!locationEnabled"><i class="icon ion-navigate" style="color: gray; vertical-align: middle"></i> desconocido</p>
				</div>
				<div class="col col-center"><p class="stable"><button class="button button-small button-assertive">{{tool.pricePerDay}}&nbsp;&euro;</button></p></div>
				
			</div>
		</ion-item>
	</ion-list>
	
</ion-content>
</ion-view>

