<ion-view title="{{tool.name}}" ng-controller="ToolCtrl" ng-init="loadTool()" cache-view="false"> 

<ion-nav-bar class="bar bar-dark"> 
	<ion-nav-back-button class="button-clear"> 
	<i class="ion-ios-arrow-back"></i>
	Volver
	</ion-nav-back-button> 
</ion-nav-bar>  

<ion-content has-header="">

<div class="row no-padding">
  <div class="col no-padding">
  	<img ng-src="http://lorempixel.com/400/200?id={{tool.id}}">
  </div>
</div>

<div class="list">
	<a class="item item-avatar" href="#">
      <img ng-src="http://lorempixel.com/50/50">
      <h2>{{tool.user.name}}</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

	<a class="item item-icon-left" href="#">
	   <i class="icon ion-ios-location"></i>
	   Distancia
	   <span class="badge badge-balanced" ng-if="locationEnabled">{{tool.distance}} km</span>
	   <span class="badge badge-assertive" ng-if="!locationEnabled">Desconocida</span>
	 </a>
	 <a class="item item-icon-left" href="#">
	   <i class="icon ion-pricetag"></i>
	   Precio por dia
	   <span class="badge badge-energized">{{tool.pricePerDay}} &euro;</span>
	 </a>
	 <a class="item item-icon-left" href="#">
	   <i class="icon ion-pricetags"></i>
	   Precio total
	   <span class="badge badge-balanced">{{toolTotalPrice}}</span>
	 </a>
	 <a class="item item-text-wrap" href="#">
		 <p style="text-align: justify;">
		   {{tool.description}}
		 </p>
	 </a>
</div>
<div class="padding">
	<button class="button button-block button-positive" ng-click="rentToolDialog()">
		Alquilar herramienta
	</button>
</div>

</ion-content> 
</ion-view>