
<ion-side-menus ng-controller="ToolCtrl" ng-init="listUpdate()" cache-view="false">
  <ion-side-menu side="left">
  
  	<ion-header-bar>
  		<h1 class="title">ShareTool</h1>
 	</ion-header-bar>
 	<ion-content>
  <div class="list">
	<div class="item item-avatar">
      <img ng-src="http://lorempixel.com/50/50">
      <h2>Carlos Sobrino</h2>
      <p>Back off, man. I'm a scientist.</p>
    </div>
    <div class="item item-divider">
	    Opciones
	</div>
	<div class="item item-toggle item-icon-left">
		<i class="icon ion-ios-location"></i>
	     Geolocalizacion
	     <label class="toggle toggle-assertive">
	       <input type="checkbox" ng-change="watchGeolocation()" ng-model="locationEnabled"/>
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	 </div>
  </div>
	<div class="padding-horizontal">
		 <button class="button button-block button-balanced" ui-sref="login">
  			Finalizar sesion
		 </button> 
		 </div>

  	</ion-content>
</ion-side-menu>
<ion-side-menu-content>






<ion-header-bar >
	<button class="button button-icon ion-navicon-round" ng-click="toggleMenuLeft()">
    </button>
   <h1 class="title">Tools</h1>
  <div class="buttons">
  	<button class="button button-icon ion-search" ng-click="showFilterBar()">
    </button>
    <button class="button button-icon ion-ios-toggle" ui-sref="filterTool">
    </button>
  </div>
</ion-header-bar>
<ion-content>
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="listUpdate()">
  </ion-refresher>

<ion-list can-swipe="listCanSwipe">
  
  <ion-item ng-repeat="tool in toolList" class="item-thumbnail-left" ui-sref="toolDetail({toolId: tool.id})">

    <img ng-src="http://lorempixel.com/400/200?id={{tool.id}}">
    <h2>{{tool.name}}</h2>
	<p>{{tool.pricePerDay}}</p>
	<p>{{tool.distance}}</p>
  </ion-item>
</ion-list>

</ion-content>


</ion-side-menu-content>
</ion-side-menus>
