<ion-view title="Filtros herramientas" ng-controller="ToolCtrl">
<ion-nav-bar  class="bar bar-dark"> 
	<ion-nav-back-button class="button-clear"> 
	<i class="ion-chevron-left"></i>
	Volver 
	</ion-nav-back-button> 
</ion-nav-bar>  
<ion-content>
<form name="filtersToolForm" novalidate="" ng-submit="acceptFilters()">
	<div class="list">
		<div class="item item-toggle title-filter">
			Precio maximo
			<label class="toggle toggle-balanced">
				<input type="checkbox" ng-model="toolFilters.maxPriceCheck"
					ng-checked="toolFilters.maxPriceCheck">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
		<label class="item item-input item-stacked-label">
			<input type="number" placeholder="Precio"
				ng-model="toolFilters.maxPrice"
				ng-disabled="!toolFilters.maxPriceCheck"
				ng-required="toolFilters.maxPriceCheck">
		</label>
		
		<div class="item item-toggle title-filter">
			Distancia maxima <span class="positive filter-kilometers"
				ng-if="toolFilters.maxDistanceCheck">{{toolFilters.maxDistance}}
				km</span>
			<label class="toggle toggle-balanced">
				<input type="checkbox" ng-model="toolFilters.maxDistanceCheck"
					ng-checked="toolFilters.maxDistanceCheck">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
		
		<div class="item range">
			<i class="icon ion-ios-location-outline"></i>
			<input type="range" name="maxDistance" min="0" max="100"
				ng-model="toolFilters.maxDistance"
				ng-disabled="!toolFilters.maxDistanceCheck">
			<i class="icon ion-ios-location"></i>
		</div>
		
		<div class="item item-toggle title-filter">
			Periodo de alquiler
			<label class="toggle toggle-balanced">
				<input type="checkbox" ng-model="toolFilters.dateCheck"
					ng-checked="toolFilters.dateCheck">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
		
		<div class="item item-input item-stacked-label">
			<input type="date" name="date" min="2015-01-01" max="2017-12-31"
				   ng-model="toolFilters.date" 
				   ng-disabled="!toolFilters.dateCheck"
				   ng-required="toolFilters.dateCheck">
		</div>
		
		<div class="item item-input item-stacked-label">
			<input type="number" name="days" placeholder="Dias de alquiler"
				   ng-model="toolFilters.days" ng-disabled="!toolFilters.dateCheck"
				   ng-required="toolFilters.dateCheck">
		</div>

		<div class="item item-divider">Ordenacion</div>

		<label class="item item-radio">
			<input type="radio" name="toolOrder" ng-model="toolFilters.toolOrder"
				ng-value="availableToolOrder.MIN_PRICE">
			<div class="radio-content">
				<div class="item-content">
					Mas<b> baratas</b> primero
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</div>
		</label>

		<label class="item item-radio">
			<input type="radio" name="toolOrder" ng-model="toolFilters.toolOrder"
				ng-value="availableToolOrder.NEAR_TOOL">
			<div class="radio-content">
				<div class="item-content">
					Mas <b>cercanas</b> primero
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</div>
		</label>

	</div>

	<div class="row no-padding">
		<div class="col">
			<button type="reset" class="button button-full button-dark"
				ng-click="cancelFilters()">Cancelar</button>
		</div>
		<div class="col">
			<button type="submit" class="button button-full button-balanced">Aceptar</button>
		</div>
	</div>
</form>

</ion-content> </ion-view>