.filter-kilometers {
	width: 60%;
    text-align: center;
    display: inline-block;
}
.error-msg {
	font-size: 14px;
	display: block !important;
}
.title-filter {
	background-color: #f5f5f5;
	color: #222;
	font-weight: 500;
}

.no-padding {
    padding: 0px !important;
}

.icon-page-title {
	text-align: center; 
	padding: 50px;
	font-size: 60px;
	color: #444;
}

.item-content {
    padding-right: 16px !important;
}

.list-emtpy .list-emtpy p{
	text-align: center;
}